include README.md
include LICENSE
recursive-include assets *
recursive-include mujaco_gym_lite/environment_tools/ik_solvers/ikfast_binds *.so
recursive-include mujaco_gym_lite/environment_tools/mujoco_env/env_models/assets/robots *.stl
